services:
  mongodb:
    image: mongo:6-jammy
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  postgres_server:
    container_name: db_container
    image: postgres:15.3-alpine3.18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: backend
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped


  redis:
    image: redis
    ports:
      - '6379:6379'

# https://github.com/testdrivenio/flask-celery/blob/master/docker-compose.yml
  db_worker:
    build: .
    command: celery --app backend.worker worker --loglevel=infolery --app backend.worker worker --loglevel=info
    volumes:
      - .:/usr/src/app
    depends_on:
      - redis
      - mongodb

  ui:
    build: .
    command: streamlit run ui/dashboard.py --server.address="0.0.0.0"
    volumes:
      - .:/usr/src/app
    ports:
      - 8501:8501
    depends_on:
      - redis
      - mongodb
      - db_worker
      - postgres_server

volumes:
  mongo_data:
  postgres_data:
